<HTML>

<HEAD>

<TITLE>ECM SMART SERVICE</TITLE>

</HEAD>

<BODY BGCOLOR="FFFFFF">

<center><IMG SRC="Imgclouds.jpg" ALIGN="BOTTOM"> </center>

<HR>

<a href="http://somegreatsite.com">One Cognizant</a>

is a link to One Cognizant site

<H1>WELCOME TO ECM Smart Services</H1> 

           <H3>Version V444............</H3>
Send me mail at <a href="mailto:support@cognizant.com">

support@cognizant.com</a>.



<P> <B>2020 Copyright. All Rights Reserved.</B>

<BR> <B><I>
The Sponsored Listings displayed above are served automatically by a third party. Neither the service provider nor the domain owner maintain any relationship with the advertisers. In case of trademark issues please contact the domain owner directly (contact information can be found in whois)..</I></B>

<HR>

</BODY>

</HTML>
